/*
    This CSS is added because by default the R3F takes the size of the root element. So we make the root element fill
    the screen
*/
html,
body,
#root
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}